body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif, sans-serif;
}

.cataloh-h {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  border: 1px;
  font-size: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: #55DD1E;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-cancel {
  font-size: 2rem;
  border: 1px;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #f30a1d;
  cursor: pointer;
}


.btn-sub {
  margin-top: 1rem;
  border-radius: .5rem;
  background-color: #55DD1E;
  color: black;
  font-size: 1.5rem;
  padding: .5rem 0;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-sub:hover:enabled {
  background-color: #FFF;
  outline: 2px solid #FFF;
}

.btn-sub:active {
  background-color: #FFF;
}

.btn-sub:disabled {
  opacity: .5;
  cursor: default;
}

h4 {
  margin: 0;
  font-size: 2rem;
}

h3  {
  font-size: 4rem;
  margin-top: 2rem;
}

p {
  margin: 0;
  margin-top: .8rem;
}

.container {
  padding: 1rem 16rem;
}

ul {
  list-style-type: 0;
  padding: 0;
}

.content {
  border-left: solid 5px #55DD1E;
  background-color: #868586c0;
  padding: .6rem 2rem;
  margin-bottom: 1rem;
  border-radius: 4rem;
  cursor: pointer;
}


.form-container {
  padding: 1.6rem;
  background-color: #000000;
  border-radius: 2rem;
  height: 20rem;
  box-shadow: 0px 2px 6px -2px #000000;
  margin-top: .8rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction:column;
}

label {
  margin-bottom: .4rem;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}

input {
  padding: 1.2rem 1.2rem;
  border: none;
  border-radius: .5rem;
  outline: 1px solid #FFF;
  cursor: pointer;
  width: 92%;
  font-size: 1.2rem;
}
